html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img {
  display: inline-block;
  vertical-align: middle;
}
code {
  background: #002b36;
  color: #839496;
  font-size: 12px;
  border-radius: 2px;
  padding: 2px;
}
pre {
  margin: 0 0 2em;
}
